<?xml version="1.0" ?>
<robot name="cube" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="cube_0">
        <inertial>
            <origin rpy="0 0 0.0" xyz="0 0 0.06"/>
            <mass value="0.6"/>
            <inertia ixx="0.05" ixy="0" ixz="0" iyy="0.06" iyz="0" izz="0.03"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.06"/>
            <geometry>
                <mesh filename="package://kuka_gripper_description/meshes/cube.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.06"/>
            <geometry>
                <mesh filename="package://kuka_gripper_description/meshes/cube.obj"/>
            </geometry>
        </collision>
    </link>
</robot>

