<?xml version="1.0" ?>
<robot name="hammer" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="hammer">
        <inertial>
            <origin rpy="0 0 0.0" xyz="-0.1 -0.1 0.2"/>
            <mass value="0.2"/>
            <inertia ixx="0.03" ixy="03" ixz="03" iyy="0.03" iyz="0.03" izz="0.03"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0.0" xyz="-0.1 -0.1 0.2"/>
            <geometry>
                <mesh filename="package://kuka_gripper_description/meshes/hammer.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0.0" xyz="-0.1 -0.1 0.2"/>
            <geometry>
                <mesh filename="package://kuka_gripper_description/meshes/hammer.obj"/>
            </geometry>
        </collision>
    </link>
</robot>

