<?xml version="1.0" ?>
<robot name="orange" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="orange">
        <inertial>
            <origin rpy="0 0 0.0" xyz="-0.1 -0.1 0.2"/>
            <mass value="0.2"/>
            <inertia ixx="-0.493902692352" ixy="-0.7074305146880" ixz="1.69215393792" iyy="-8.351624200192" iyz="-0.176650354688" izz="-8.064961347584"/>

        </inertial>
        <visual>
            <origin rpy="0 0 0.0" xyz="-0.1 -0.1 0.2"/>
            <geometry>
                <mesh filename="package://kuka_gripper_description/meshes/orange.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0.0" xyz="-0.1 -0.1 0.2"/>
            <geometry>
                <mesh filename="package://kuka_gripper_description/meshes/orange.obj"/>
            </geometry>
        </collision>
    </link>
</robot>

